* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: #f8f8f8;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 80px;
    height: 1500px;
    background: #D9D9D9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    width: 50px;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0;
    font-size: 20px;
    cursor: pointer;
}

main {
    flex: 1;
    padding: 20px;
}

header input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #D9D9D9;
    border: 1px #ddd;
    border-radius: 5px;
}

.categories {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.categories button {
    background: #fff;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}
.gallery {
    column-count: 4; /* número de colunas visíveis */
    column-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery .item {
    break-inside: avoid;
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.02);
}